<h1>All Tickets</h1>
<div class="row">
  <% @tickets.each do |ticket| %>
    <div class="col-md-6 mb-3">
      <div class="card">
        <div class="card-header d-flex justify-content-between">
          <h5 class="mb-0"><%= ticket.title %></h5>
          <span class="badge bg-<%= ticket.status? ? 'primary' : 'secondary' %> fs-6">
            <%= ticket.status&.humanize&.titleize || 'New' %>
          </span>
        </div>
        <div class="card-body">
          <p><%= ticket.description.truncate(100) %></p>
          <small>Updated <%= time_ago_in_words(ticket.updated_at) %> ago</small>
        </div>
      </div>
    </div>
  <% end %>
</div>

