<div id="<%= dom_id shipment %>">
  <div>
    <strong>Tracking number:</strong>
    <%= shipment.tracking_number %>
  </div>

  <div>
    <strong>Status:</strong>
    <%= shipment.status %>
  </div>

  <div>
    <strong>Temperature logs:</strong>
    <%= shipment.temperature_logs %>
  </div>

  <div>
    <strong>Pickup location:</strong>
    <%= shipment.pickup_location %>
  </div>

  <div>
    <strong>Delivery location:</strong>
    <%= shipment.delivery_location %>
  </div>

  <div>
    <strong>Driver:</strong>
    <%= shipment.driver_id %>
  </div>

</div>
